body{
    background-color:greenyellow;
    font-family: 'Merriweather', serif;
}

h1{
    color:red;
}

a{
    color:red;
}

hr{ 
    border-style:none;
    border-top-style: dotted;
    border-width:5px;
    border-color:green;
    
}

.flex-container{
    display: flex;
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse; */
    /* width: 300px;
    flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    width: 400px;
    justify-content: space-between;
    background-color: blue;
}

.mid-container{
    height: 800px;
    width 800px;
    position:relative;
    background-color: grey;
}

#image1{
    position:absolute;
    left: 400px;
    bottom: 100px;
}

.left{
    display:inline-block;
    background-color: blue;
}

.main{
    display:inline-block;
    background-color: gold;
}

.right{
    display:inline-block;
    background-color: pink;
}