body{
    background-color:greenyellow;
    font-family: 'Merriweather', serif;
}

h1{
    color:red;
}

a{
    color:red;
}

hr{ 
    border-style:none;
    border-top-style: dotted;
    border-width:5px;
    border-color:green;
    
}

.flex-container{
    display: flex;
}