body{
    background-color:greenyellow;
    font-family: 'Merriweather', serif;
}

h1{
    color:red;
}

a{
    color:red;
}

hr{ 
    border-style:none;
    border-top-style: dotted;
    border-width:5px;
    border-color:green;
    
}

.flex-container{
    display: flex;
    /* flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: row-reverse; */
    /* width: 300px;
    flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    width: 400px;
    justify-content: space-between;
    background-color: blue;
}